:root {
    --navBgColor: linear-gradient(45deg, #BABABA, #707070);
    --navfontCol: #3B3B3B;
    --WebsiteBgColor:linear-gradient(45deg, hotpink, yellow) ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--WebsiteBgColor);
    background-repeat: no-repeat;
}

.container{
    max-width: 100%;
    margin: 5% 0 5% 0;
    background: var(--navBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: var(--navfontCol);
}

.swiper .swiper-pagination-bullet-active{
    background: white;
}
